@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,500;1,600&family=Poppins:wght@200;300;500&family=Ubuntu&display=swap');

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

/* body {
  font-size: 1.6rem;
  background: var(--bg);
} */

.container3 {
    max-width: 100%;
    height: 100%;
    /* padding: 0 1rem; */
    margin: 0 auto;
    /* background: blue; */
}

#tranding {
  padding: 4rem 0;
  width: 100vw;
  height: 100vh;
  /* background: red; */
  background: transparent;
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }

  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.swiper-slide{
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    filter: blur(4px);
    background: #d1ebff;
    border-radius: 20px;
}

.swiper-slide-active{
    filter: blur(0px);
    background: #fff;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 60% !important;
  transform: translateX(-60%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  left: 40%;
  transform: translateX(-40%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

/* //////////REVIEW-CARDS////////// */

.review-card {
    border-radius: 20px;
    padding: 20px;
  }
  
  .review-body {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .review-ratings {
    display: block;
    justify-content: space-between;
  }
  
  .review-ratings p {
    /* margin-bottom: 5px; */
    font-weight: 600;
    font-size: 14px;
  }
  
  .stars {
    display: flex;
    color: #f8d32b;
  }
  
  .star {
    font-size: 40px;
    margin-right: 5px;
    animation: shrink 1s ease-in-out infinite;
  }
  
  .star:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .star:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  .star:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  .star:nth-child(5) {
    animation-delay: 0.8s;
  }
  
  @keyframes shrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .review-ratings .details{
      display: flex;
      align-items: center;
      margin-top: 20px;
  }
  .review-ratings .details .imgBox{
      position: relative;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
}

.review-ratings .details .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review-ratings .details h3{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #2196f3;
    line-height: 1.1em;
}

.review-ratings .details h3 #client{
    font-size: 12px;
    color: rgb(63, 63, 63);
}

.review-ratings .details h3 #fiverr{
    font-size: 13px;
    color: rgb(0, 231, 0);
}